= simple_form_for(@cliente) do |f|
  = f.error_notification

  .form-inputs
    = f.input :Nome
    = f.input :CPF
    = f.input :Nacionalidade
    = f.input :DataNascimento
    = f.input :CEP
    = f.input :Endereço
    = f.input :Bairro
    = f.input :Cidade
    = f.input :Estado
    = f.input :Celular
    = f.input :Email
    = f.input :Senha

  .form-actions
    = f.submit "Salvar"
