%h1 Clientes

%table
  %thead
    %tr
      %th Nome
      %th Cpf
      %th Nacionalidade
      %th Datanascimento
      %th Cep
      %th Endereço
      %th Bairro
      %th Cidade
      %th Estado
      %th Celular
      %th Email
      %th Senha
      %th
      %th
      %th

  %tbody
    - @clientes.each do |cliente|
      %tr
        %td= cliente.Nome
        %td= cliente.CPF
        %td= cliente.Nacionalidade
        %td= cliente.DataNascimento
        %td= cliente.CEP
        %td= cliente.Endereço
        %td= cliente.Bairro
        %td= cliente.Cidade
        %td= cliente.Estado
        %td= cliente.Celular
        %td= cliente.Email
        %td= cliente.Senha
        %td= link_to 'Show', cliente
        %td= link_to 'Edit', edit_cliente_path(cliente)
        %td= link_to 'Excluir', cliente, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Cliente', new_cliente_path
