%p#notice= notice

%p
  %b Nome:
  = @cliente.Nome
%p
  %b Cpf:
  = @cliente.CPF
%p
  %b Nacionalidade:
  = @cliente.Nacionalidade
%p
  %b Datanascimento:
  = @cliente.DataNascimento
%p
  %b Cep:
  = @cliente.CEP
%p
  %b Endereço:
  = @cliente.Endereço
%p
  %b Bairro:
  = @cliente.Bairro
%p
  %b Cidade:
  = @cliente.Cidade
%p
  %b Estado:
  = @cliente.Estado
%p
  %b Celular:
  = @cliente.Celular
%p
  %b Email:
  = @cliente.Email
%p
  %b Senha:
  = @cliente.Senha

= link_to 'Edit', edit_cliente_path(@cliente)
\|
= link_to 'Back', clientes_path
