= simple_form_for(@reserva) do |f|
  = f.error_notification

  .form-inputs
    = f.input :Data
    = f.input :Hora
    = f.association :Cliente
    = f.association :Evento

  .form-actions
    = f.button :submit
