%h1 Reservas

%table
  %thead
    %tr
      %th Data
      %th Hora
      %th Cliente
      %th Evento
      %th
      %th
      %th

  %tbody
    - @reservas.each do |reserva|
      %tr
        %td= reserva.Data
        %td= reserva.Hora
        %td= reserva.cliente
        %td= reserva.evento
        %td= link_to 'Show', reserva
        %td= link_to 'Edit', edit_reserva_path(reserva)
        %td= link_to 'Excluir', reserva, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Reserva', new_reserva_path
