%p#notice= notice

%p
  %b Data:
  = @reserva.Data
%p
  %b Hora:
  = @reserva.Hora
%p
  %b Cliente:
  = @reserva.Cliente
%p
  %b Evento:
  = @reserva.Evento

= link_to 'Edit', edit_reserva_path(@reserva)
\|
= link_to 'Back', reservas_path
