= simple_form_for(@evento) do |f|
  = f.error_notification

  .form-inputs
    = f.input :Descrição
    = f.input :Data
    = f.input :Horário
    = f.association :Estabelecimento

  .form-actions
    = f.button :submit
