%h1 Listing eventos

%table
  %thead
    %tr
      %th Descrição
      %th Data
      %th Horário
      %th Estabelecimento
      %th
      %th
      %th

  %tbody
    - @eventos.each do |evento|
      %tr
        %td= evento.Descrição
        %td= evento.Data
        %td= evento.Horário
        %td= evento.Estabelecimento
        %td= link_to 'Show', evento
        %td= link_to 'Edit', edit_evento_path(evento)
        %td= link_to 'Destroy', evento, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Evento', new_evento_path
