%p#notice= notice

%p
  %b Descrição:
  = @evento.Descrição
%p
  %b Data:
  = @evento.Data
%p
  %b Horário:
  = @evento.Horário
%p
  %b Estabelecimento:
  = @evento.estabelecimento.empresa

= link_to 'Edit', edit_evento_path(@evento)
\|
= link_to 'Back', eventos_path
