= simple_form_for(@ingresso) do |f|
  = f.error_notification

  .form-inputs
    = f.input :Tipo
    = f.input :Valor
    = f.association :evento
    = f.association :cliente

  .form-actions
    = f.submit "Salvar"
