%h1 Ingressos

%table
  %thead
    %tr
      %th Tipo
      %th Valor
      %th Evento
      %th Cliente
      %th
      %th
      %th

  %tbody
    - @ingressos.each do |ingresso|
      %tr
        %td= ingresso.Tipo
        %td= ingresso.Valor
        %td= ingresso.Evento
        %td= ingresso.Cliente
        %td= link_to 'Show', ingresso
        %td= link_to 'Edit', edit_ingresso_path(ingresso)
        %td= link_to 'Excluir', ingresso, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Ingresso', new_ingresso_path
