%p#notice= notice

%p
  %b Tipo:
  = @ingresso.Tipo
%p
  %b Valor:
  = @ingresso.Valor
%p
  %b Evento:
  = @ingresso.evento
%p
  %b Cliente:
  = @ingresso.cliente

= link_to 'Edit', edit_ingresso_path(@ingresso)
\|
= link_to 'Back', ingressos_path
