= simple_form_for(@avaliacao) do |f|
  = f.error_notification

  .form-inputs
    = f.input :Nota
    = f.input :Comentário
    = f.association :Cliente
    = f.association :Evento

  .form-actions
    = f.submit "Salvar"
