%h1 Listing avaliacoes

%table
  %thead
    %tr
      %th Nota
      %th Comentario
      %th Cliente
      %th Avaliado
      %th Cliente
      %th Evento
      %th
      %th
      %th

  %tbody
    - @avaliacoes.each do |avaliacao|
      %tr
        %td= avaliacao.nota
        %td= avaliacao.comentario
        %td= avaliacao.cliente
        %td= avaliacao.avaliado
        %td= avaliacao.Cliente
        %td= avaliacao.Evento
        %td= link_to 'Show', avaliacao
        %td= link_to 'Edit', edit_avaliacao_path(avaliacao)
        %td= link_to 'Destroy', avaliacao, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Avaliacao', new_avaliacao_path
