%h1 Avaliações

%table
  %thead
    %tr
      %th Nota
      %th Comentário
      %th Cliente
      %th Evento
      %th
      %th
      %th

  %tbody
    - @avaliacoes.each do |avaliacao|
      %tr
        %td= avaliacao.Nota
        %td= avaliacao.Comentário
        %td= avaliacao.cliente
        %td= avaliacao.evento
        %td= link_to 'Show', avaliacao
        %td= link_to 'Edit', edit_avaliacao_path(avaliacao)
        %td= link_to 'Excluir', avaliacao, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Avaliacao', new_avaliacao_path
