%p#notice= notice

%p
  %b Nota:
  = @avaliacao.Nota
%p
  %b Comentário:
  = @avaliacao.Comentário
%p
  %b Cliente:
  = @avaliacao.cliente
%p
  %b Evento:
  = @avaliacao.evento

= link_to 'Edit', edit_avaliacao_path(@avaliacao)
\|
= link_to 'Back', avaliacoes_path
