= simple_form_for(@estabelecimento) do |f|
  = f.error_notification

  .form-inputs
    = f.input :CNPJ
    = f.input :Empresa
    = f.input :Email
    = f.input :Senha
    = f.input :Tipo

  .form-actions
    = f.button :submit
