%h1 Estabelecimentos

%table
  %thead
    %tr
      %th Cnpj
      %th Empresa
      %th Email
      %th Senha
      %th Tipo
      %th
      %th
      %th

  %tbody
    - @estabelecimentos.each do |estabelecimento|
      %tr
        %td= estabelecimento.CNPJ
        %td= estabelecimento.Empresa
        %td= estabelecimento.Email
        %td= estabelecimento.Senha
        %td= estabelecimento.Tipo
        %td= link_to 'Show', estabelecimento
        %td= link_to 'Edit', edit_estabelecimento_path(estabelecimento)
        %td= link_to 'Excluir', estabelecimento, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Estabelecimento', new_estabelecimento_path
