<hr>
<hr>
<footer>
	<ul id="rodape">
		<li><%= link_to "Entre em contato"%></li>
		<li><%= link_to "Política de Privacidade"%></li>
		<li><%= link_to "Anuncie Aqui"%></li>
		<li><%= link_to "Acessibilidade"%></li>
		<li><%= link_to "Comunicar Erro"%></li>
	</ul>
		
	<div id="divRodape">
		<img class="imgrodape1" src="./images/celular.bmp">
		<img class="imgrodape" src="./images/facebook.bmp">
		<img class="imgrodape" src="./images/instagram.bmp">

		<img class="imgrodape" src="./images/youtube.png">
		<img class="imgrodape" src="./images/twitter.jpeg">
		<img class="imgrodape" src="./images/g+.png">
	</div>
	<hr>
	<h4> Todos os direitos reservados - 2016 - Thaís Lopes Nunes</h4>
</footer>