<ul id="menu">
	<li><%= link_to "Home", root_path %></li>
	<li><%= link_to "Clientes", clientes_path %></li>
	<li><%= link_to "Estabelecimentos", estabelecimentos_path %></li>
	<li><%= link_to "Eventos", eventos_path %></li>
	<li><%= link_to "Ingressos", ingressos_path %></li>
	<li><%= link_to "Reservas", reservas_path %></li>
	<li><%= link_to "Avaliações", avaliacoes_path %></li>
</ul>