<ul id="menu">
	<li  class='active'><%= link_to "Home", root_path %></li>
	<li><%= link_to "Clientes", clientes_path %></li>
	<li><%= link_to "Estabelecimentos", estabelecimentos_path %></li>
	<li><%= link_to "Eventos", eventos_path %></li>
	<li><%= link_to "Ingressos", ingressos_path %></li>
	<li><%= link_to "Reservas", reservas_path %></li>
	<li><%= link_to "Avaliações", avaliacoes_path %></li>
</ul>
<br>
<ul id="verticalMenu">
	<li><%= link_to "Galeria"%></li>
	<li><%= link_to "Comprar Ingressos"%></li>
	<li><%= link_to "About us"%></li>
	<li><%= link_to "Fale Conosco"%></li>
	<li><%= link_to "Trabalhe Conosco"%></li>
</ul>